:root {
    --main-color: #252B42;
    --title-color: #FFFFFF;
    --secondary-title-color: #F6F6F6;
    --black-color: #000000;
    --active-color: #FA4A0C;
    --grey-color: #737373;
    --footer-color: #5C5C5C;
}

.container {
    width: 1210px;
    margin: 0 auto;
    outline: 1px solid red;
}

.header {
    outline: 1px solid blue;
}

.header-wraper {
    display: flex;
    outline: 1px solid yellow;
}

.link-logo {
    outline: 1px solid purple;
}

.img-logo {
    outline: 1px solid hotpink;
    width: 150px;
    height: 65px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 94px;
    margin-left: 455px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.header-item {
    font-family: "Montserrat", sans-serif;
    font-weight: 600px;
    font-size: 16px;
}

.header-link {
    text-decoration: none;
    color: var(--main-color);
}

.header-link-active {
    color: var(--active-color);
}

/* main */

.main {
    outline: 1px solid darkcyan;
}

.section-hero {
    height: 620px;
    background-image: url("./img/bg1.jpg");
    background-size: cover;
    outline: 1px solid darkgoldenrod;
    padding-top: 80px;
}

.hero-wraper {
    color: white;
    text-align: center;
    outline: 1px solid darkorange;
}

.hero-title {
    outline: 1px solid darkolivegreen;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.hero-slogan {
    outline: 1px solid green;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 58px;
}

.order-title {
    outline: 1px solid greenyellow;
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.delivery-btn {
    outline: 1px solid darkkhaki;
    background-color: var(--active-color);
    color: var(--title-color);
}

.hero-btn {
    outline: 1px solid khaki;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding: 16px 25px 16px 25px;
    border-radius: 30px;
    border: none;
}

.menu-btn {
    outline: 1px solid firebrick;
}

/* section works start */

.section-works {
    outline: 1px solid darkgray;
}

.works-main-title {
    text-align: center;
    outline: 1px solid salmon;
    margin-top: 56px;
}

.works-list {
    list-style: none;
    outline: 1px solid skyblue;
    margin-top: 70px;
}

.works-item {
    display: flex;
    gap: 281px;
    outline: 1px solid violet;

}

.works-img {
    outline: 1px solid chocolate;
}

.wraper-info {
    width: 561px;
    outline: 1px solid red;
}

.works-title {
    outline: 1px solid royalblue;
}

.works-instruction {
    outline: 1px solid lawngreen;
}

.works-span {
    outline: 1px solid navy;
}

/* section order start */

.section-order {
    background-image: url(./img/bg2.jpg);
    outline: 1px solid teal;
}

.title-order {
    outline: 1px solid tomato;
}

.order-slogan {
    outline: 1px solid crimson;
}

.playstore-btn {
    outline: 1px solid brown;
}

.footer-btn {
    outline: 1px solid black;
}

.appstore-btn {
    outline: 1px solid gold;
}

/* footer start */

.footer {
    outline: 1px solid grey;
}

.footer-logo {
    outline: 1px solid silver;
}

.footer-copywright {
    outline: 1px solid indigo;
}