.container {
    width: 1210px;
    margin: 0 auto;
    outline: 1px solid red;
}

.header {
    outline: 1px solid blue;
}

.header-wraper {
    display: flex;
    outline: 1px solid yellow;
}

.link-logo {
    outline: 1px solid purple;
}

.img-logo {
    outline: 1px solid hotpink;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 94px;
    margin-left: 455px;
    outline: 1px solid pink;
}

.header-item {
    outline: 1px solid rebeccapurple;
}

.header-link {
    text-decoration: none;
    outline: 1px solid darkblue;
}

/* main */

.main {
    outline: 1px solid darkcyan;
}

.section-hero {
    height: 620px;
    background-image: url("./img/bg1.jpg");
    background-size: cover;
    outline: 1px solid darkgoldenrod;
}

.hero-wraper{
    color: white;
    text-align: center;
    outline: 1px solid darkorange;
}

.hero-title {
    outline: 1px solid darkolivegreen;
}

.hero-slogan {
    outline: 1px solid green;
}

.order-title {
    outline: 1px solid greenyellow;
}

.delivery-btn {
    outline: 1px solid darkkhaki;
}

.hero-btn {
    outline: 1px solid khaki;
}

.menu-btn {
    outline: 1px solid firebrick;
}

/* section works start */

.section-works {
    outline: 1px solid darkgray;
}

.works-main-title {
    text-align: center;
    outline: 1px solid salmon;
}

.works-list {
    list-style: none;
    outline: 1px solid skyblue;
}

.works-item {
    display: flex;
    gap: 281px;
    outline: 1px solid violet;
}

.works-img {
    outline: 1px solid chocolate;
}

.wraper-info {
    width: 561px;
    outline: 1px solid red;
}

.works-title {
    outline: 1px solid royalblue;
}

.works-instruction {
    outline: 1px solid lawngreen;
}

.works-span {
    outline: 1px solid navy;
}

/* section order start */

.section-order {
    background-image: url(./img/bg2.jpg);
    outline: 1px solid teal;
}

.title-order {
    outline: 1px solid tomato;
}

.order-slogan {
    outline: 1px solid crimson;
}

.playstore-btn {
    outline: 1px solid brown;
}

.footer-btn {
    outline: 1px solid black;
}

.appstore-btn {
    outline: 1px solid gold;
}

/* footer start */

.footer {
    outline: 1px solid grey;
}

.footer-logo {
    outline: 1px solid silver;
}

.footer-copywright {
    outline: 1px solid indigo;
}